header,
main {
    text-align: center;
}

#headshot {
    border-radius: 40px;
}

article li {
    text-align: left;
}

aside {
    font-size: 16px;
    font-weight: lighter;
}

.overview {
    border: 2px;
    border-color: black;
    border-style:outset;
    padding: 8px;
}